

body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
/*Global Style*/




/*General Styles*/
.vv-float-right
{
    float:right;
}
.yomer-float-left
{
    float:left;
}

.vv-center
{

    margin-left:auto;
    margin-right:auto;
}
.vv-hide
{
    display:none !important;
    visibility:hidden !important;
}
.vv-show
{
    display:block !important; 
}
.vv-border-less
{
    border:none;
}
.vv-abs-right
{
    position:absolute;
    top:70px;
    right:0px;
}




ul
{
    margin:0;
    padding:0;
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #FF6C60;
    color: #fff;
}
::-moz-selection {
    background: #FF6C60;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

input[type=checkbox], input[type=radio] {
    margin: 6px 5px 0;
    margin-top: 1px \9;
    line-height: normal;

}
input[type="search"]
{
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 1px solid #ccc;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;

}

/*Typography*/

.vv-text-center
{
    text-align:center;
}
.vv-text-uppercase
{
    vv-transform:uppercase;
}
.vv-text-right
{
    vv-align:right;
}
.vv-text-left
{
    text-align:left;
}
.vv-text-justify
{
    text-align:justify;
}

/*Bootstrap*/
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-weight:100;
}


.input-group-addon i
{
    color:#000;

}

.switch {
    background-color: #fff;
    box-shadow: inset 0 -1px #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-top: 5px;
    padding: 3px;
    position: relative;
    vertical-align: top;
    width: 80px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.switch-input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}
.switch-input:checked ~ .switch-label {
    background: #3bb605;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-handle {
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.4);
    left: 64px;
}
.switch-label {
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    display: block;
    font-size: 10px;
    height: inherit;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.switch-label:before {
    -moz-transition: inherit;
    -o-transition: inherit;
    -webkit-transition: inherit;
    color: #aaaaaa;
    content: attr(data-off);
    line-height: 1;
    margin-top: -0.5em;
    position: absolute;
    right: 7px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    top: 50%;
    transition: inherit;
}
.switch-label::after {
    -moz-transition: inherit;
    -o-transition: inherit;
    -webkit-transition: inherit;
    line-height: 1;
    margin-top: -0.5em;
    position: absolute;
    top: 50%;
    transition: inherit;
}
.switch-label:after {
    color: #fff;
    content: attr(data-on);
    left: 11px;
    opacity: 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label::before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label::after {
    opacity: 1;
}
.switch-handle {
    background: #fff;
    background-image: -moz-linear-gradient(top, #ffffff 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, #ffffff 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    height: 18px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 18px;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
.switch-handle:before {
    background: #f9f9f9;
    background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
    background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
    background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    content: '';
    height: 12px;
    left: 50%;
    margin: -6px 0 0 -6px;
    position: absolute;
    top: 50%;
    width: 12px;
}
.switch-green > .switch-input:checked ~ .switch-label {
    background: #4fb845;
}

.m-l-60
{
    margin-left:-60px;
}

#language-header .dropdown-menu li a img {
    width: 22px;
}
/*help*/
#help_content
{
    width:20%;
    height:25%;
    min-height:200px;
    position:absolute;
    left:75%;
    top:50px;
    margin-left:1%;
    background:#fff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    z-index:9999;
    border:2px solid #ccc;
    display:none;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    -o-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    color: #333;

}



#conthelp
{
    padding:2px;
    text-align:left;
    color:#000;
    line-height:17px;
}


a:hover
{
    text-decoration: none;
    color:#ccc;
}
#close
{
    font-size:9px;
}

fieldset
{
    border:1px solid #ccc;
}

.help_head
{
    width:100%;
    height:60px;
    border-bottom:1px solid #ccc;



}
.help_headcontent
{
    padding:18px; 
    text-align:left;
    color:#000;
    font-weight:bold;
    position:relative;
    font-size:17px;
    text-transform:uppercase
}
.help_contentfile
{
    width:100%;
    height:auto;
    min-height:40px;
}

#contHelp,#contHelp2
{
    text-align: justify;
    padding:20px;
    line-height: 17px;
    font-size:13px;
    overflow: auto;   

}
/*Login...*/
.login-body {
    background-color: #f1f2f7;
}


.form-signin {
    max-width: 330px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-resetpwd {
    max-width: 630px;
    min-height: 220px;
    margin: 100px auto 0;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.form-resetpwd h2.form-resetpwd-heading  {
    margin: 0;
    padding:20px 15px;
    text-align: center;
    background: #404040;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size:14px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.form-signin h2.form-signin-heading  {
    margin: 0;
    padding:20px 15px;
    text-align: center;
    background: #f4966a;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size:14px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.form-signin .checkbox {
    margin-bottom: 14px;
}
.form-signin .checkbox {
    font-weight: normal;
    color: #b6b6b6;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    font-size: 12px;
}

.form-signin .btn-login {
    background: #f4966a;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px #ef7e4b;
    margin-bottom: 20px;
}

.form-signin p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}

.form-signin a {
    color: #404040;
}

.form-signin a:hover {
    color: #b6b6b6;
}

.login-wrap {
    padding: 20px;
}
.resetpwd-wrap {
    padding: 40px;
}

/*Header*/
.header, .footer {
    min-height: 70px;
    padding: 0 17px;
}
.text-center
{
    text-align:center;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);

}

.white {
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
}



.green {
    background: #88ae59;
    border-bottom: 1px solid #88ae59;
}


.dark {
    background: #2a3542;
    border-bottom: 1px solid #3b4a5c;
}

.purple {
    background: #8175c7;
    border-bottom: 1px solid #8175c7;
}

.blue {
    background: #16aad8;
    border-bottom: 1px solid #16aad8;
}
.bluecolor
{
    color:#16aad8;
}

header.green a.logo,
header.dark a.logo,
header.purple a.logo,
header.blue a.logo{
    color:#fff;
}

/*top menu*/
#top_menu .nav > li, ul.top-menu > li {
    float: left;
}

#logo_container
{
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:70px;
    padding-top:17px;
    background:#fff;
    color:#797979;
    /* border-right:1px solid #797979;*/
}
.globe
{
    width:14px;
    height:60px;
    position:absolute;
    right:-8px;
    top:4px;
    background:url("../img/globe.png");
}

.right_head {
    float: right;
    margin-top: 19px;
    margin-right:10px;
    display:block;

}
.right_head2 {
    position:absolute;
    left:250px;
    top:25px;
    display:none;

}

.ulmenu
{
    float:right;
}
.right_head .dropdow-menu
{
    float:right;
}

.right_head  .notification span.label {
    display: inline-block;
    height: 18px;
    width: 20px;
    padding: 5px;
}

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border:1px solid #f0f0f8 !important;
    padding: 2px 6px;
    margin-right: 15px;
}



ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
    border:1px solid #f0f0f8 !important;
    background-color: #fff!important;
    border-color: #f0f0f8 !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color:#337AB7 !important;
}

ul.top-menu > li > a.without_border{
    color: #666666;
    font-size: 16px;     
    padding: 2px 6px;
    margin-right: 15px;
    border:none;
}

.right_head  .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.badge.bg-success {
    background: #a9d86e;
}



/*sidebar navigation*/

#leftsidebar {
    width: 230px;
    height: 530px;
    position: absolute;
    background: #2a3542;
    background-image: none;
    z-index: 1000;

}

#leftsidebar ul li {
    position: relative;
}

#leftsidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#leftsidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}



.nav-collapse.collapse {
    display: inline;
}

ul.leftsidebar-menu , ul.leftsidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.leftsidebar-menu {
    margin-top: 5px;
}

#leftsidebar > ul > li > ul.sub {
    display: none;
}

#leftsidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.leftsidebar-menu li ul.sub li{
    background: #35404D;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.leftsidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.leftsidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.leftsidebar-menu li ul.sub li a:hover, ul.leftsidebar-menu li ul.sub li.active a {
    color: #16aad8;;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.leftsidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.leftsidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.leftsidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.leftsidebar-menu li a.active, ul.leftsidebar-menu li a:hover, ul.leftsidebar-menu li a:focus {
    background: #35404d;
    color: #fff;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.leftsidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.leftsidebar-menu li a:hover i, ul.leftsidebar-menu li a:focus i {
    //color: #FF6C60;
    color:#16aad8;
}

ul.leftsidebar-menu li a.active i {
    // color: #FF6C60;
    color:#16aad8;
}


ul.leftsidebar-menu ul> li:before
{
    background: #aeb2b7;
    bottom: auto;
    content: "";
    height: 10px;
    left: 11px;
    margin-top: 20px;
    position: absolute;
    right: auto;
    width:10px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

ul.leftsidebar-menu ul> li>a:before
{
    border-left: 1px dashed #aeb2b7;
    bottom: 0;
    content: "";
    left: 16px;
    position: absolute;
    top: -5px;  
}

/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background: url(../img/nav-expand.png) no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
    top:15px;
}
.active .dcjq-icon {
    background: url(../img/nav-expand.png) no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
/*---*/



.mail-info, .mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}

/*main content*/

#main-content {
    margin-left: 240px;
    height:auto;
    min-height:530px;  
    background-color: #f9f9f9;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.15) inset;
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 1px rgba(0,0,0,0.15) inset;

}

.ngView {
    display: inline-block;
    margin-top: 10px;
    width: 100%; 
}


#topbar {
    z-index: 2;
    position: relative;
    width: 100%;
    height:55px;
    padding: 10px 21px;
    background:#f5f5f5;
    border-bottom: 1px solid #e0e0e0;
}

.div-padding
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
}
#topbar:before, #topbar:after {
    content: " ";
    display: table;
}
.dash ul li
{
    float:left;
}

#crumbs {
    margin: 0 -20px;
    height: 40px;
    background: #f9f9f9;
    border-bottom: 1px solid #d9d9d9;
}

a.logo {
    font-size: 25px;
    color: #fff;
    font-style: bold;


}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}



input[type="search"]
{
    boarder-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;

    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border:1p;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;


}



/*--sidebar toggle---*/

.sidebar-toggle-box {
    position:absolute;
    left:20px;
    top:25px;
    color:#797979;
}

.sidebar-toggle-box .glyphicon {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}


.sidebar-closed > #leftsidebar > ul li> a>span {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #leftsidebar {
    margin-left: 0px;
}

.ptz
{
    height:450px;
    padding:20px;
    background:#fff;
}

.video
{
    height:450px;
    padding:20px;


}
.iconcontainer
{
    width:100%;
    height:50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    padding:15px;
}
.iconcontainer ul li
{
    float:left;
    padding-left:15px;
}
.iconcontainer ul li a
{
    color: #666666;
    font-size: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border:1px solid #f0f0f8 !important;
    padding: 2px 6px;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;


}
.width70px
{
    width:70px;
}
.gap
{
    width:100%;
    height:20px;
}
.iconcontainer ul li a:hover
{
    color: #16aad8;

}
.heigh450px
{
    height:450px;
}
.videocontainer
{
    width:100px;
    height:auto;
    margin-top:10px;
    padding:0px 10px;
}

table.table-border-less tr td
{
    border:none;
}
.footer {
    background: #5b6e84;
    color: #fff;
    padding: 10px 0;
}

/*inputs*/
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    height:37px\9;
    //padding: 9px 10px;
    font-size: 13px;
    line-height: 1.5;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    //border-radius: 0px;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
    box-shadow:1px 1px 1px #fff;
}
.size-equal
{
    min-width:90px;
}
.control-label
{
    font-weight:normal;
    color:#555555;
    text-align:left;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
.wrapper
{
    padding-top:10px;
}
.pannel
{
    padding:0px;
}
.panel-heading {
    position: relative;
    height: 40px;
    line-height: 36px;
    background: #fafafa;
    color: #000;
    text-transform:uppercase;
    font-weight:bold;
    font-size: 13px;
    padding: 0 8px;
    // border: 1px solid #e5e5e5;
    border-top-right-radius: 1px;

}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    color:#000;
}

.crumb-trail
{
    color:#000;
}
#warn-alert
{
    position:fixed;
    top:50px;
    left:50%;
    width:400px;
    height:100px;
    margin-left:-200px;
    text-align:center;
    z-index:99999;   
    display:none;
    transition:all 1s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -ms-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;

}
.close
{
    transition:all 1s ease-in;
    -webkit-transition:all 0.3s ;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s;
    -o-transition:all 0.3s;
    -webkit-transform:scale(0.8,0.8);
    -moz-transform:scale(0.8,0.8);
    -mstransform:scale(0.8,0.8);
    -o-transform:scale(0.8,0.8);
    transform:scale(0.8,0.8)
}
.close:hover
{
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -mstransform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1)
}
#content-alert
{
    padding-top:20px;
}

.control-label {
    padding-top: 7px;
    margin-bottom: 0px;
    text-align: left;
}


.panel-body {
    position: relative;
    padding: 15px;
    // border: 1px solid #e5e5e5;
}


/*------------------------Styles for Audio Page----------------------------*/
#audio_input_vol,#audio_output_vol
{
    height:10px;
    position:relative;
    top:12px;
}

.padd
{
    padding-top:6px;
}









/*----------------------------Responsive Part---------------------------------------------------------------------------------------*/
@media (max-width: 768px) {

    .header {
        position: absolute;
    }

    /*leftsidebar*/


    #leftsidebar {
        display: none;
    }

    .sidebar-close #leftsidebar {
        height: auto;
        /*overflow: hidden;*/
        overflow-y: auto;
        position: absolute;
        width: 100%;
        z-index: 1001;
        display: block;
    }


    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
    }

    #leftsidebar > ul > li > a > span {
        line-height: 35px;
    }

    #leftsidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #leftsidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    #leftsidebar > ul > li > a i{
        /*display: none !important;*/
    }


    #leftsidebar ul > li > a .arrow, #leftsidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }

    #leftsidebar ul > li.active > a .arrow, #leftsidebar ul > li > a:hover .arrow, #leftsidebar ul > li > a:focus .arrow,
    #leftsidebar > ul > li.active > a .arrow.open, #leftsidebar > ul > li > a:hover .arrow.open, #leftsidebar > ul > li > a:focus .arrow.open{
        margin-top: 15px;
    }

    #leftsidebar > ul > li > a, #leftsidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #leftsidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    #leftsidebar > ul > li > ul.sub > li > a:hover {
        /*background: #4A8BC2 !important ;*/
    }


    /* sidebar */
    #leftsidebar {
        margin: 0px !important;
    }

    /* sidebar collabler */
    #leftsidebar .btn-navbar.collapsed .arrow {
        display: none;
    }

    #leftsidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }





    .btn {
        margin-bottom: 5px;
    }





}

@media (max-width:650px)
{
    ul.top-menu li  a.without_border
    {
        font-size:10px;


    }
    ul.top-menu li  a
    {
        font-size:10px;
    }
}

@media (max-width:600px)
{
    .right_head2{
        display:block;

    }
    ul.top-menu li  a.without_border
    {
        font-size:9px;


    }
    .right_head{
        display:none;
    }
}





/*----------------------------------------------Responsive Part Ends Here---------------------------------------------*/




















/*Styles for clock*/
/*!
 * ClockPicker v0.0.7 for Bootstrap (http://weareoutman.github.io/clockpicker/)
 * Copyright 2014 Wang Shenwei.
 * Licensed under MIT (https://github.com/weareoutman/clockpicker/blob/gh-pages/LICENSE)
 */
.clockpicker .input-group-addon{cursor:pointer}.clockpicker-moving{cursor:move}.clockpicker-align-left.popover>.arrow{left:25px}.clockpicker-align-top.popover>.arrow{top:17px}.clockpicker-align-right.popover>.arrow{left:auto;right:25px}.clockpicker-align-bottom.popover>.arrow{top:auto;bottom:6px}.clockpicker-popover .popover-title{background-color:#fff;color:#999;font-size:24px;font-weight:700;line-height:30px;text-align:center}.clockpicker-popover .popover-title span{cursor:pointer}.clockpicker-popover .popover-content{background-color:#f8f8f8;padding:12px}.popover-content:last-child{border-bottom-left-radius:5px;border-bottom-right-radius:5px}.clockpicker-plate{background-color:#fff;border:1px solid #ccc;border-radius:50%;width:200px;height:200px;overflow:visible;position:relative;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.clockpicker-canvas,.clockpicker-dial{width:200px;height:200px;position:absolute;left:-1px;top:-1px}.clockpicker-minutes{visibility:hidden}.clockpicker-tick{border-radius:50%;color:#666;line-height:26px;text-align:center;width:26px;height:26px;position:absolute;cursor:pointer}.clockpicker-tick.active,.clockpicker-tick:hover{background-color:#c0e5f7;background-color:rgba(0,149,221,.25)}.clockpicker-button{background-image:none;background-color:#fff;border-width:1px 0 0;border-top-left-radius:0;border-top-right-radius:0;margin:0;padding:10px 0}.clockpicker-button:hover{background-image:none;background-color:#ebebeb}.clockpicker-button:focus{outline:0!important}.clockpicker-dial{-webkit-transition:-webkit-transform 350ms,opacity 350ms;-moz-transition:-moz-transform 350ms,opacity 350ms;-ms-transition:-ms-transform 350ms,opacity 350ms;-o-transition:-o-transform 350ms,opacity 350ms;transition:transform 350ms,opacity 350ms}.clockpicker-dial-out{opacity:0}.clockpicker-hours.clockpicker-dial-out{-webkit-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-o-transform:scale(1.2,1.2);transform:scale(1.2,1.2)}.clockpicker-minutes.clockpicker-dial-out{-webkit-transform:scale(.8,.8);-moz-transform:scale(.8,.8);-ms-transform:scale(.8,.8);-o-transform:scale(.8,.8);transform:scale(.8,.8)}.clockpicker-canvas{-webkit-transition:opacity 175ms;-moz-transition:opacity 175ms;-ms-transition:opacity 175ms;-o-transition:opacity 175ms;transition:opacity 175ms}.clockpicker-canvas-out{opacity:.25}.clockpicker-canvas-bearing,.clockpicker-canvas-fg{stroke:none;fill:#0095dd}.clockpicker-canvas-bg{stroke:none;fill:#c0e5f7}.clockpicker-canvas-bg-trans{fill:rgba(0,149,221,.25)}.clockpicker-canvas line{stroke:#0095dd;stroke-width:1;stroke-linecap:round}.clockpicker-button.am-button{margin:1px;padding:5px;border:1px solid rgba(0,0,0,.2);border-radius:4px}.clockpicker-button.pm-button{margin:1px 1px 1px 136px;padding:5px;border:1px solid rgba(0,0,0,.2);border-radius:4px}


/*Styles for datepicker*/


.datepicker{padding:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;direction:ltr}.datepicker-inline{width:220px}.datepicker.datepicker-rtl{direction:rtl}.datepicker.datepicker-rtl table tr td span{float:right}.datepicker-dropdown{top:0;left:0}.datepicker-dropdown:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-top:0;border-bottom-color:rgba(0,0,0,.2);position:absolute}.datepicker-dropdown:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;border-top:0;position:absolute}.datepicker-dropdown.datepicker-orient-left:before{left:6px}.datepicker-dropdown.datepicker-orient-left:after{left:7px}.datepicker-dropdown.datepicker-orient-right:before{right:6px}.datepicker-dropdown.datepicker-orient-right:after{right:7px}.datepicker-dropdown.datepicker-orient-top:before{top:-7px}.datepicker-dropdown.datepicker-orient-top:after{top:-6px}.datepicker-dropdown.datepicker-orient-bottom:before{bottom:-7px;border-bottom:0;border-top:7px solid #999}.datepicker-dropdown.datepicker-orient-bottom:after{bottom:-6px;border-bottom:0;border-top:6px solid #fff}.datepicker>div{display:none}.datepicker.days .datepicker-days,.datepicker.months .datepicker-months,.datepicker.years .datepicker-years{display:block}.datepicker table{margin:0;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.datepicker td,.datepicker th{text-align:center;width:20px;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:none}.table-striped .datepicker table tr td,.table-striped .datepicker table tr th{background-color:transparent}.datepicker table tr td.day:hover,.datepicker table tr td.day.focused{background:#eee;cursor:pointer}.datepicker table tr td.old,.datepicker table tr td.new{color:#999}.datepicker table tr td.disabled,.datepicker table tr td.disabled:hover{background:0 0;color:#999;cursor:default}.datepicker table tr td.today,.datepicker table tr td.today:hover,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover{background-color:#fde19a;background-image:-moz-linear-gradient(top,#fdd49a,#fdf59a);background-image:-ms-linear-gradient(top,#fdd49a,#fdf59a);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fdd49a),to(#fdf59a));background-image:-webkit-linear-gradient(top,#fdd49a,#fdf59a);background-image:-o-linear-gradient(top,#fdd49a,#fdf59a);background-image:linear-gradient(top,#fdd49a,#fdf59a);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);border-color:#fdf59a #fdf59a #fbed50;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#000}.datepicker table tr td.today:hover,.datepicker table tr td.today:hover:hover,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.today.disabled:hover:hover,.datepicker table tr td.today:active,.datepicker table tr td.today:hover:active,.datepicker table tr td.today.disabled:active,.datepicker table tr td.today.disabled:hover:active,.datepicker table tr td.today.active,.datepicker table tr td.today:hover.active,.datepicker table tr td.today.disabled.active,.datepicker table tr td.today.disabled:hover.active,.datepicker table tr td.today.disabled,.datepicker table tr td.today:hover.disabled,.datepicker table tr td.today.disabled.disabled,.datepicker table tr td.today.disabled:hover.disabled,.datepicker table tr td.today[disabled],.datepicker table tr td.today:hover[disabled],.datepicker table tr td.today.disabled[disabled],.datepicker table tr td.today.disabled:hover[disabled]{background-color:#fdf59a}.datepicker table tr td.today:active,.datepicker table tr td.today:hover:active,.datepicker table tr td.today.disabled:active,.datepicker table tr td.today.disabled:hover:active,.datepicker table tr td.today.active,.datepicker table tr td.today:hover.active,.datepicker table tr td.today.disabled.active,.datepicker table tr td.today.disabled:hover.active{background-color:#fbf069 \9}.datepicker table tr td.today:hover:hover{color:#000}.datepicker table tr td.today.active:hover{color:#fff}.datepicker table tr td.range,.datepicker table tr td.range:hover,.datepicker table tr td.range.disabled,.datepicker table tr td.range.disabled:hover{background:#eee;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.datepicker table tr td.range.today,.datepicker table tr td.range.today:hover,.datepicker table tr td.range.today.disabled,.datepicker table tr td.range.today.disabled:hover{background-color:#f3d17a;background-image:-moz-linear-gradient(top,#f3c17a,#f3e97a);background-image:-ms-linear-gradient(top,#f3c17a,#f3e97a);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f3c17a),to(#f3e97a));background-image:-webkit-linear-gradient(top,#f3c17a,#f3e97a);background-image:-o-linear-gradient(top,#f3c17a,#f3e97a);background-image:linear-gradient(top,#f3c17a,#f3e97a);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);border-color:#f3e97a #f3e97a #edde34;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.datepicker table tr td.range.today:hover,.datepicker table tr td.range.today:hover:hover,.datepicker table tr td.range.today.disabled:hover,.datepicker table tr td.range.today.disabled:hover:hover,.datepicker table tr td.range.today:active,.datepicker table tr td.range.today:hover:active,.datepicker table tr td.range.today.disabled:active,.datepicker table tr td.range.today.disabled:hover:active,.datepicker table tr td.range.today.active,.datepicker table tr td.range.today:hover.active,.datepicker table tr td.range.today.disabled.active,.datepicker table tr td.range.today.disabled:hover.active,.datepicker table tr td.range.today.disabled,.datepicker table tr td.range.today:hover.disabled,.datepicker table tr td.range.today.disabled.disabled,.datepicker table tr td.range.today.disabled:hover.disabled,.datepicker table tr td.range.today[disabled],.datepicker table tr td.range.today:hover[disabled],.datepicker table tr td.range.today.disabled[disabled],.datepicker table tr td.range.today.disabled:hover[disabled]{background-color:#f3e97a}.datepicker table tr td.range.today:active,.datepicker table tr td.range.today:hover:active,.datepicker table tr td.range.today.disabled:active,.datepicker table tr td.range.today.disabled:hover:active,.datepicker table tr td.range.today.active,.datepicker table tr td.range.today:hover.active,.datepicker table tr td.range.today.disabled.active,.datepicker table tr td.range.today.disabled:hover.active{background-color:#efe24b \9}.datepicker table tr td.selected,.datepicker table tr td.selected:hover,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled:hover{background-color:#9e9e9e;background-image:-moz-linear-gradient(top,#b3b3b3,gray);background-image:-ms-linear-gradient(top,#b3b3b3,gray);background-image:-webkit-gradient(linear,0 0,0 100%,from(#b3b3b3),to(gray));background-image:-webkit-linear-gradient(top,#b3b3b3,gray);background-image:-o-linear-gradient(top,#b3b3b3,gray);background-image:linear-gradient(top,#b3b3b3,gray);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);border-color:gray #808080 #595959;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datepicker table tr td.selected:hover,.datepicker table tr td.selected:hover:hover,.datepicker table tr td.selected.disabled:hover,.datepicker table tr td.selected.disabled:hover:hover,.datepicker table tr td.selected:active,.datepicker table tr td.selected:hover:active,.datepicker table tr td.selected.disabled:active,.datepicker table tr td.selected.disabled:hover:active,.datepicker table tr td.selected.active,.datepicker table tr td.selected:hover.active,.datepicker table tr td.selected.disabled.active,.datepicker table tr td.selected.disabled:hover.active,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected:hover.disabled,.datepicker table tr td.selected.disabled.disabled,.datepicker table tr td.selected.disabled:hover.disabled,.datepicker table tr td.selected[disabled],.datepicker table tr td.selected:hover[disabled],.datepicker table tr td.selected.disabled[disabled],.datepicker table tr td.selected.disabled:hover[disabled]{background-color:gray}.datepicker table tr td.selected:active,.datepicker table tr td.selected:hover:active,.datepicker table tr td.selected.disabled:active,.datepicker table tr td.selected.disabled:hover:active,.datepicker table tr td.selected.active,.datepicker table tr td.selected:hover.active,.datepicker table tr td.selected.disabled.active,.datepicker table tr td.selected.disabled:hover.active{background-color:#666 \9}.datepicker table tr td.active,.datepicker table tr td.active:hover,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover{background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-ms-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(top,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datepicker table tr td.active:hover,.datepicker table tr td.active:hover:hover,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active.disabled:hover:hover,.datepicker table tr td.active:active,.datepicker table tr td.active:hover:active,.datepicker table tr td.active.disabled:active,.datepicker table tr td.active.disabled:hover:active,.datepicker table tr td.active.active,.datepicker table tr td.active:hover.active,.datepicker table tr td.active.disabled.active,.datepicker table tr td.active.disabled:hover.active,.datepicker table tr td.active.disabled,.datepicker table tr td.active:hover.disabled,.datepicker table tr td.active.disabled.disabled,.datepicker table tr td.active.disabled:hover.disabled,.datepicker table tr td.active[disabled],.datepicker table tr td.active:hover[disabled],.datepicker table tr td.active.disabled[disabled],.datepicker table tr td.active.disabled:hover[disabled]{background-color:#04c}.datepicker table tr td.active:active,.datepicker table tr td.active:hover:active,.datepicker table tr td.active.disabled:active,.datepicker table tr td.active.disabled:hover:active,.datepicker table tr td.active.active,.datepicker table tr td.active:hover.active,.datepicker table tr td.active.disabled.active,.datepicker table tr td.active.disabled:hover.active{background-color:#039 \9}.datepicker table tr td span{display:block;width:23%;height:54px;line-height:54px;float:left;margin:1%;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.datepicker table tr td span:hover{background:#eee}.datepicker table tr td span.disabled,.datepicker table tr td span.disabled:hover{background:0 0;color:#999;cursor:default}.datepicker table tr td span.active,.datepicker table tr td span.active:hover,.datepicker table tr td span.active.disabled,.datepicker table tr td span.active.disabled:hover{background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-ms-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(top,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.25)}.datepicker table tr td span.active:hover,.datepicker table tr td span.active:hover:hover,.datepicker table tr td span.active.disabled:hover,.datepicker table tr td span.active.disabled:hover:hover,.datepicker table tr td span.active:active,.datepicker table tr td span.active:hover:active,.datepicker table tr td span.active.disabled:active,.datepicker table tr td span.active.disabled:hover:active,.datepicker table tr td span.active.active,.datepicker table tr td span.active:hover.active,.datepicker table tr td span.active.disabled.active,.datepicker table tr td span.active.disabled:hover.active,.datepicker table tr td span.active.disabled,.datepicker table tr td span.active:hover.disabled,.datepicker table tr td span.active.disabled.disabled,.datepicker table tr td span.active.disabled:hover.disabled,.datepicker table tr td span.active[disabled],.datepicker table tr td span.active:hover[disabled],.datepicker table tr td span.active.disabled[disabled],.datepicker table tr td span.active.disabled:hover[disabled]{background-color:#04c}.datepicker table tr td span.active:active,.datepicker table tr td span.active:hover:active,.datepicker table tr td span.active.disabled:active,.datepicker table tr td span.active.disabled:hover:active,.datepicker table tr td span.active.active,.datepicker table tr td span.active:hover.active,.datepicker table tr td span.active.disabled.active,.datepicker table tr td span.active.disabled:hover.active{background-color:#039 \9}.datepicker table tr td span.old,.datepicker table tr td span.new{color:#999}.datepicker .datepicker-switch{width:145px}.datepicker thead tr:first-child th,.datepicker tfoot tr th{cursor:pointer}.datepicker thead tr:first-child th:hover,.datepicker tfoot tr th:hover{background:#eee}.datepicker .cw{font-size:10px;width:12px;padding:0 2px 0 5px;vertical-align:middle}.datepicker thead tr:first-child .cw{cursor:default;background-color:transparent}.input-append.date .add-on,.input-prepend.date .add-on{cursor:pointer}.input-append.date .add-on i,.input-prepend.date .add-on i{margin-top:3px}.input-daterange input{text-align:center}.input-daterange input:first-child{-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}.input-daterange input:last-child{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}.input-daterange .add-on{display:inline-block;width:auto;min-width:16px;height:20px;padding:4px 5px;font-weight:400;line-height:20px;text-align:center;text-shadow:0 1px 0 #fff;vertical-align:middle;background-color:#eee;border:1px solid #ccc;margin-left:-5px;margin-right:-5px}.datepicker.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;min-width:160px;list-style:none;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;*border-right-width:2px;*border-bottom-width:2px;color:#333;font-size:13px;line-height:20px}.datepicker.dropdown-menu th,.datepicker.datepicker-inline th,.datepicker.dropdown-menu td,.datepicker.datepicker-inline td{padding:4px 5px}

/*!
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.slider.slider-horizontal {
    width: 100%;
    height: 20px;
}
.slider.slider-horizontal .slider-track {
    height: 10px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}
.slider.slider-horizontal .slider-selection {
    height: 100%;
    top: 0;
    bottom: 0;
}
.slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -5px;
}
.slider.slider-horizontal .slider-handle.triangle {
    border-width: 0 10px 10px 10px;
    width: 0;
    height: 0;
    border-bottom-color: #0480be;
    margin-top: 0;
}
.slider.slider-vertical {
    height: 210px;
    width: 20px;
}
.slider.slider-vertical .slider-track {
    width: 10px;
    height: 100%;
    margin-left: -5px;
    left: 50%;
    top: 0;
}
.slider.slider-vertical .slider-selection {
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}
.slider.slider-vertical .slider-handle {
    margin-left: -5px;
    margin-top: -10px;
}
.slider.slider-vertical .slider-handle.triangle {
    border-width: 10px 0 10px 10px;
    width: 1px;
    height: 1px;
    border-left-color: #0480be;
    margin-left: 0;
}
.slider input {
    display: none;
}
.slider .tooltip-inner {
    white-space: nowrap;
}
.slider-track {
    position: absolute;
    cursor: pointer;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.slider-selection {
    position: absolute;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: -o-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    opacity: 0.8;
    border: 0px solid transparent;
}
.slider-handle.round {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.slider-handle.triangle {
    background: transparent none;
}
span.small
{
    font-size:12px;
    font-weight:bold;
    color:#000;
}

.black-back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity:0.3;
    background:#000;
    width:100%;
    height:100%;
    filter: alpha(opacity = 25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}


/*Count Down*/
#countdown_container {
    width: 820px;
    margin: 0 auto;
    display: block;
    /*
    Additional styling
    */
    padding: 40px;
    margin: 60px auto;
    border-radius:6px;
    background:#ffffff;
    background:rgba(255,255,255,0.6);
    border:1px solid #dddddd;
    border:1px solid rgba(255,255,255,0.6);
    box-shadow:0 2px 12px #DDDDDD;
}
#countdown_container h1 {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:28px;
    font-weight: normal;
    font-style:italic;
    text-align:center;
    color:#212121;
    line-height:36px;
    margin:0 auto 42px auto;
    text-align:center;
}

#countdown_timer,
#countdown_timer ul,
#circular_countdown {
    position: relative;
    width:100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#countdown_clock {
    width:100%;
    position:relative;
    z-index:1;
    margin: 0px 0;
    padding:15px;
}
#circular_countdown_days,
#circular_countdown_hours,
#circular_countdown_minutes,
#circular_countdown_seconds {
    position:relative;
    z-index:1;
    padding:0;
    width: 160px;
}
#circular_countdown_days {
    margin: 0 37px 0 30px;
}
#circular_countdown_hours {
    margin: 0 37px 0 0;
}
#circular_countdown_minutes {
    margin: 0 37px 0 0;
}
#circular_countdown_seconds {
    margin: 0;
}
#countdown_timer {
    z-index:2;
    width: 800px;
}
#countdown_timer li {
    list-style: none;
    padding: 18px 20px 8px 20px;
    margin-top: 42px;
    float: left;
    width: 160px;
    color:#333333;
    font-size: 9px;
    position: absolute;
    text-align: center;
    text-transform:uppercase;
}
#countdown_timer li.days {
    left:0px;
}
#countdown_timer li.hours {
    left:200px;
}
#countdown_timer li.minutes {
    left:400px;
}
#countdown_timer li.seconds {
    left:600px;
}
#countdown_timer li em {
    display: block;
    font-size:32px;
    line-height:30px;
    font-weight:bold;
    font-style: normal;
    padding:0;
}

/*
Markup to keep a decent layout under IE8 and below
*/

/* IE8 */
input.dial
{
    visibility:hidden;
}
@media \0screen {
    #countdown_timer {
        height: 130px;
    }
    #countdown_container h1 {
        margin:0 auto;
    }
}

/* IE7 and below */

#countdown_timer {
    *height: 130px;
}
#countdown_container h1 {
    *margin:0 auto;
}




@media screen and (min-width: 985px) {
    #countdown_container {
        width: 820px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 984px) {

    #countdown_container {
        width: 600px;
    }
    #countdown_timer {
        z-index:2;
        width: 600px;
    }
    #countdown_container h1 {
        font-size:24px;
    }
    #countdown_timer li.days,
    #countdown_timer li.minutes {
        margin-left: 80px;
    }
    #countdown_timer li.hours,
    #countdown_timer li.seconds {
        margin-left: 95px;
    }
    #countdown_timer li.days {
        left:0;
        top:-3px;
    }
    #countdown_timer li.hours {
        left:217px;
        top:-3px;
    }
    #countdown_timer li.minutes {
        left:0;
        top:180px;
    }
    #countdown_timer li.seconds {
        left:217px;
        top:180px;
    }
    #circular_countdown_days,
    #circular_countdown_hours,
    #circular_countdown_minutes,
    #circular_countdown_seconds {
        clear: left;
        margin: 0 0 17px 100px;
    }
    #circular_countdown_hours,
    #circular_countdown_seconds {
        clear: left;
        margin: 0 0 17px 70px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    #countdown_container {
        width: 300px;
    }
    #countdown_timer {
        z-index:2;
        width: 300px;
    }
    #countdown_container h1 {
        font-size:23px;
    }
    #countdown_timer li.days,
    #countdown_timer li.hours,
    #countdown_timer li.minutes,
    #countdown_timer li.seconds {
        left:auto;
        margin-left: 50px;
    }
    #countdown_timer li.days {
        top:0;
    }
    #countdown_timer li.hours {
        top:183px;
    }
    #countdown_timer li.minutes {
        top:370px;
    }
    #countdown_timer li.seconds {
        top:557px;
    }
    #circular_countdown_days,
    #circular_countdown_hours,
    #circular_countdown_minutes,
    #circular_countdown_seconds {
        clear: left;
        margin: 0 0 20px 70px;
    }

}



@media only screen and (max-width: 479px) {

    #countdown_container {
        width: 240px;
        padding: 20px;
    }
    #countdown_timer {
        width: 260px;
    }
    #countdown_container h1 {
        font-size:18px;
    }
    #countdown_timer li.days,
    #countdown_timer li.hours,
    #countdown_timer li.minutes,
    #countdown_timer li.seconds {
        left:auto;
        margin-left: 20px;
    }
    #countdown_timer li.days {
        top:0;
    }
    #countdown_timer li.hours {
        top:180px;
    }
    #countdown_timer li.minutes {
        top:370px;
    }
    #countdown_timer li.seconds {
        top:560px;
    }
    #circular_countdown_days,
    #circular_countdown_hours,
    #circular_countdown_minutes,
    #circular_countdown_seconds {
        clear: left;
        margin: 0 0 20px 40px;
    }

}

/*** DataTable pagination button alignment ***/
div.dataTables_wrapper.dt-bootstrap .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid transparent;
}
div.dataTables_wrapper ul li, body.example div.dataTables_wrapper ol li {
    padding: 0;
    border: none !important;
}
div.dataTables_wrapper li {
    text-indent: 0;
}
div.dataTables_wrapper.dt-bootstrap th {
    background: none !important;
}
/*** DataTable pagination button alignment ***/
.margin-right-5 {
    margin-right: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.blockUI {
    z-index: 1500 !important;
    background-color: transparent !important;
}