<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="">

    <title>Sparsh</title>
    <!-- Bootstrap core CSS -->
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => APP_PATH . '/img/favicon.ico'))
        ->appendStylesheet(APP_PATH. '/css/bootstrap.min.css')
        ->appendStylesheet(APP_PATH . '/css/style.css')

    ?>


</head>
<body>

<div id="container" >
    <!--header start-->
    <div class="header white">

        <!--logo start-->
        <div id='logo_container' class='vv-text-center'>
            <div class='globe'></div>
            <div class="sidebar-toggle-box">
                <div class="glyphicon glyphicon-th" data-placement="right" data-original-title="Toggle Navigation"></div>
           <!-- </div><h2>/h2>-->
           <a href="#" class="logo "><img src="<?php echo APP_PATH . '/img/favicon.ico' ?>"/><span></span></a>
            <!--logo end-->
        </div> <!--logocontainer end-->


    </div>
    <!--header end-->
    <!--sidebar start-->

    <!--leftsidebar end-->
    <!--main content start-->
    <div class="col-md-12">
        <div class="row">
            <!--<i class="fa fa-3x fa-question-circle pull-left margin-top-35 blueIcon"></i>-->
            <div class="col-md-9" >
                </br></br></br></br></br>
                <h4 class='text-blue'><strong>Looking for something</strong></h4>
                <h4>We are sorry. The Web address you entered is not a functioning page on our site</h4>
                <i class="fa fa-chevron-right pull-left margin-top-15 blueIcon"></i>
                <h4 class="margin-top-20"><strong>Go to Sparsh's <a  href="<?php print BASE_PATH . '/user/login'; ?>">Login</a> Page</strong></h4>
            </div>
        </div>
    </div>


</div>


</body>
</html>