
<script src="<?php print APP_PATH ?>/js/jquery.js"></script>
<script src="<?php print APP_PATH ?>/js/admin/device.js"></script>
<script src="<?php print APP_PATH ?>/js/admin/common.js"></script>

<script>
    $(document).ready(function() {
        
       // alert('hi');
        startDevices();
    });
</script>
<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">

            <li class="crumb-icon">
                <a href="<?php print BASE_PATH . '/user/adminHome'; ?>">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">devices</li>
        </ol>
    </div>
</header>
<section class="wrapper">
    <div class='col-lg-12'>
        <div class="row">
            <div class="alert alert-success device_success_msg hide" role="alert">
                <button type="button" class="close" aria-label="Close" onclick="closeMsg('success')"><span aria-hidden="true">&times;</span></button>
                <span class="success_msg"></span>
            </div>
            <div class="alert alert-danger device_failure_msg hide" role="alert">
                <button type="button" class="close" aria-label="Close" onclick="closeMsg('failure')"><span aria-hidden="true">&times;</span></button>
                <span class="failure_msg"></span>
            </div>
        </div>
    </div>
    <div class='col-lg-12'>
        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Device List </span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">

                        <table id='DeviceTable' class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">

                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-1'></div>
</section>
<!-- Edit Device Modal -->
<div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="deviceModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title new-dev" id="myDeviceModalLabel">Edit Device</h4>
            </div>
            <form name="deviceForm" class="submit-form" onsubmit="return false">
                <div class="modal-body">
                    <div class='row margin-bottom-10'>
                        <div class="form-group">
                            <label class='col-md-3 column-label'>Device Name:</label>
                            <div class='col-md-6'>
                                <input type="hidden" id="device_id">
                                <input type="hidden" id="device_token">
                                <input type="text"  id='device_name' class="form-control" placeholder="Device Name" maxlength="20" onKeyPress="clearValidationDevice();" onfocus="clearValidationDevice();">
                                <span class="device_name_errmsg text-danger"></span>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="modal-footer" style="margin: 20px 0px 10px 0px">
                    <button id="savedevice_btn" type="submit" class="btn btn-primary pull-right margin-right-5" onclick="validateAndSaveDevice()">Save</button>
                    <a class="btn btn-primary pull-right margin-right-5" data-dismiss="modal" href="#">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Config Modal -->
<div class="modal fade" id="deviceConfgModal" tabindex="-1" role="dialog" aria-labelledby="deviceConfgModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title new-dev" id="myDeviceConfgModalLabel">Device Configuration</h4>
            </div>
            <form name="deviceConfgForm" class="submit-form" onsubmit="return false">
                <div class="modal-body">
                    <input type="hidden" id="device_id">
                    <div class='row margin-bottom-10'>
                        <div class="form-group">
                            <label class='col-md-4 column-label'>Motion Detection:</label>
                            <div class='col-md-5'>
                                <div class="make-switch">
                                    <input type="checkbox" data-size="small" id="motion_detection" class="device_config_fields" />
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class='row margin-bottom-10'>
                        <div class="form-group">
                            <label class='col-md-4 column-label'>Cube Recording:</label>
                            <div class='col-md-5'>
                                <div class="make-switch">
                                    <input type="checkbox" data-size="small" id="cube_recording" class="device_config_fields" />
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class='row margin-bottom-10'>
                        <div class="form-group">
                            <label class='col-md-4 column-label'>Cloud Recording:</label>
                            <div class='col-md-5'>
                                <div class="make-switch">
                                    <input type="checkbox" data-size="small" id="cloud_recording" class="device_config_fields" />
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class='row margin-bottom-10'>
                        <div class="form-group">
                            <label class='col-md-4 column-label'>Audio Enable:</label>
                            <div class='col-md-5'>
                                <div class="make-switch">
                                    <input type="checkbox" data-size="small" id="audio_enable" class="device_config_fields" />
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class='row margin-bottom-10'>
                        <div class="form-group">
                            <label class='col-md-4 column-label'>HD Enable:</label>
                            <div class='col-md-5'>
                                <div class="make-switch">
                                    <input type="checkbox" data-size="small" id="hd_enable" class="device_config_fields" />
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="modal-footer" style="margin: 20px 0px 10px 0px">
                    <button id="savedevice_confg_btn" type="submit" class="btn btn-primary pull-right margin-right-5" onclick="validateAndSaveDeviceConfg()">Save</button>
                    <a class="btn btn-primary pull-right margin-right-5" data-dismiss="modal" href="#">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scan Sensor Modal -->
<div class="modal fade" id="scanSensorModal" tabindex="-1" role="dialog" aria-labelledby="scanSensorModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title new-dev" id="myDeviceConfgModalLabel">Scan Sensor</h4>
            </div>
            <form name="scanSensoForm" class="submit-form" onsubmit="return false">
                <div class="modal-body">
                    <div class="alert alert-success pairSensor_success_msg hide" role="alert">
                        <button type="button" class="close" aria-label="Close" onclick="closeMsg('success')"><span aria-hidden="true">&times;</span></button>
                        <span class="pair_success_msg"></span>
                    </div>
                    <div class="alert alert-danger pairSensor_failure_msg hide" role="alert">
                        <button type="button" class="close" aria-label="Close" onclick="closeMsg('failure')"><span aria-hidden="true">&times;</span></button>
                        <span class="pair_failure_msg"></span>
                    </div>
                    <input type="hidden" id="device_id">
                    <div class="sensorsScanModalBody">

                    </div>
                </div>
                <!--                <div class="modal-footer" style="margin: 20px 0px 10px 0px">
                                    <button id="savedevice_confg_btn" type="submit" class="btn btn-primary pull-right margin-right-5" onclick="validateAndSaveDeviceConfg()">Save</button>
                                    <a class="btn btn-primary pull-right margin-right-5" data-dismiss="modal" href="#">Cancel</a>
                                </div>-->
            </form>
        </div>
    </div>
</div>