
<section class="wrapper" style="margin-top: 70px;">
    <!-- No of camera's to display -->
    <div class="row">
        <div class="no_cameras col-md-8  col-lg-offset-2">
            <div class='margin-bottom-10'>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        User Details
                    </div>
                    <div class="panel-body">
      <div class="form-horizontal" role="form">
                        <div class="form-group">
                      <label class='col-md-2 col-md-offset-4' >User Token </label>
                    <span class="col-md-1">:</span>
                    <div class='col-md-5'>
                        <label><?php echo$data[0][userToken]?></label>
                    </div>
                </div>
                <br>
                 <div class="form-group">
                      <label class='col-md-2 col-md-offset-4'>User Pin </label>
                      <span class="col-md-1">:</span>
                    <div class='col-md-5'>
                        <label><?php echo$data[0][userPin]?></label>
                    </div>
                </div>
                    </div>
     </div>
                </div>
            </div>  
        </div>
    </div>
    <!-- live camera video streaming -->
    <div class="display_2">
    </div>
</section>
