/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
AUTHOR : GUI TEAM COCHI
PROJECT :IntelliVision
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++-*/







/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	RESET
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

*{ 
	padding: 0; 
	margin: 0; 
	vertical-align: baseline; 
}

html
{
    -webkit-font-smoothing:antialiased;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,hr,th,td {
	margin:0; 
	padding:0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	GENERAL
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
html {
  font-size: 12px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #696c74;
  background-color: #d8dce3;
  overflow-x:hidden;
}


template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #259dab;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #505b72;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 2px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #d8dce3;
  border: 1px solid #dddddd;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 17px;
  margin-bottom: 17px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	CUSTOM STYLES
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/***** CUSTOM STYLES *****/
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mt0 {
  margin-top: 0;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.padding5 {
  padding: 5px;
}
.padding10 {
  padding: 10px;
}
.nomargin {
  margin: 0;
}
.noshadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nopadding {
  padding: 0;
}
.nopaddingtop {
  padding-top: 0 !important;
}
.nopaddingbottom {
  padding-bottom: 0 !important;
}
.italic {
  font-style: italic;
}
.dark {
  color: #333;
}
.width100p {
  width: 100%;
}
.width20 {
  width: 20px;
}
.width30 {
  width: 30px;
}
.width50 {
  width: 50px;
}
.width60 {
  width: 60px;
}
.width70 {
  width: 70px;
}
.width80 {
  width: 80px;
}
.width100 {
  width: 100px;
}
.width120 {
  width: 120px;
}
.width200 {
  width: 200px;
}
.inblock {
  display: inline-block;
}


.paddingtop10 {
  padding-top: 10px;
}
.paddingtop15 {
  padding-top: 15px;
}
.paddingtop20 {
  padding-top: 20px;
}

.gap
{
width:100%;
height:20px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
TYPOGRAPHY
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #aaacb2;
}
.text-primary {
  color: #2574ab;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1c5881;
}
.text-success {
  color: #1aa71c;
}
a.text-success:hover,
a.text-success:focus {
  color: #137b15;
}
.text-info {
  color: #3b83a6;
}
a.text-info:hover,
a.text-info:focus {
  color: #2e6580;
}
.text-warning {
  color: #9c732c;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #745621;
}
.text-danger {
  color: #d9534f;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #c9302c;
}

h1 strong{
	font-weight: 900;
}
h2{
	;
	line-height: 20px;
	margin:  0;
}
h3{
font-size: 1.2em;
font-weight: 900;
}

h5{
	
	font-weight: 700;
	line-height: 20px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	COMMON STYLES
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
a
{
text-decoration:none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 8.5px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 17px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1650px) {
  .container {
    width: 1160px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}


legend
{
font-size:14px;
display:inline;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	FORM CONTROL
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 10px 12px;
  font-size: 0.9em;
  line-height: 1.42857143;
  color: #262b36;
  background-color: #fcfcfd;
  background-image: none;
  border: 1px solid #bdc3d1;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #9fa8bc;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #9fa8bc;
}
.form-control::-webkit-input-placeholder {
  color: #9fa8bc;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 0.9em;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #2574ab;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 1em;
  line-height: 1.42857143;
  color: #777777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn,

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 14px 25px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #259dab;
}
.nav .nav-divider {
  height: 1px;
  margin: 7.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 2px 2px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #d8dce3;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 2px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 2px 2px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #d8dce3;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 2px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #2574ab;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 2px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 2px 2px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #d8dce3;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 17px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 2px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  overflow-x: visible;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -10px;
  margin-left: -10px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-brand {
  float: left;
  padding: 16.5px 10px;
  font-size: 16px;
  line-height: 17px;
  height: 50px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -10px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 10px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 8.25px -10px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 17px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 17px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 16.5px;
    padding-bottom: 16.5px;
  }
}
.navbar-form {
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 10px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 6px;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .form-control-static {
    display: inline-block;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-btn {
  margin-top: 6px;
  margin-bottom: 6px;
}
.navbar-btn.btn-sm {
  margin-top: 9px;
  margin-bottom: 9px;
}
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbar-text {
  margin-top: 16.5px;
  margin-bottom: 16.5px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -10px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
.navbar-default .btn-link {
  color: #777777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #cccccc;
}
.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #080808;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}


/***** DROPDOWN *****/
.dropdown-menu {
  padding: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu > li > a {
  padding: 5px 7px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #bdc3d1;
  color: #fff;
}
.dropdown-menu .divider {
  margin: 5px 0;
}
.dm-icon > li > a > i {
  display: inline-block;
  margin-right: 5px;
}

/***** NAVBAR *****/
.navbar {
  background-color: #fff;
  border-radius: 2px;
}
.navbar-brand {
  padding: 12px 12px;
}
.navbar-brand h3 {
  margin: 0;
  color: #259dab;
}
.navbar-nav > li > a {
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  color: #818da7;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #505b72;
  background-color: transparent;
}
.navbar-nav > li.active > a {
  color: #259dab;
}
.navbar-inverse {
  background-color: #262b36;
  border-color: transparent;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}
.navbar-inverse .navbar-collapse {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #657390;
}
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus {
  color: #259dab;
  background-color: transparent;
}
/***** TABS *****/
.nav-tabs {
  background-color: #9fa8bc;
  border-bottom: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.nav-tabs > li {
  margin: 0;
}
.nav-tabs > li > a {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: .2px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  border: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #fff;
  background-color: #909bb1;
  border: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0;
  border-radius: 0;
  background-color: #fff;
  color: #5b6781;
}
.nav-tabs > li.active:first-child > a {
  border-top-left-radius: 2px;
}
.nav-tabs.nav-justified > li > a {
  border: 0;
}
.nav-tabs.nav-justified > .active:last-child > a {
  border-top-right-radius: 2px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
MAIN-STYLES
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.tab-pane {
  padding: 20px;
  background-color: #fff;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.intelli-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: #2574ab;
  z-index: 2000;
  box-shadow:1px 1px 1px 0px rgba(0,0,0,0.3);
  background-image: linear-gradient(to right, #259dab 0%, #2574ab 100%);
}
.intelli-header .intelli-logo {
  position: absolute;
  left: -220px;
  width: 220px;
  height: 64px;
  padding: 18px 15px;
  background-color:#fff;
}
.intelli-header .intelli-logo img {
  width:70%;
}
.intelli-header .intelli-logo h2 > a {
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.intelli-header .intelli-logo h2 > a:hover {
  color: #31c1d2;
}
@media (min-width: 992px) {
  .intelli-header .intelli-logo {
    left: 0 !important;
  }
}
.headerbar {
  position: relative;
  padding-left: 64px;
}
@media (min-width: 992px) {
  .headerbar {
    margin-left: 220px;
    left: 0 !important;
  }
}
.menutoggle {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 0;
  font-size: 21px;
  cursor: pointer;
  color: #778395;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.menutoggle i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -10px;
}
.menutoggle:hover,
.menutoggle:focus {
  color: #9fa8bc;
}


.header-right {
  float: right;
  padding-right: 20px;
}


/************ LEFT PANEL ***********/
.leftpanel {
  background-color: #ffffff;
  width: 220px;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: -220px;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
}
.leftpanel .tab-pane {
  padding: 0;
  background-color: transparent;
}
.leftpanel .media-list-contacts .media {
  border-color: #eaecf0;
}
@media (min-width: 992px) {
  .leftpanel {
    left: 0 !important;
  }
}

/***** LEFT NAVIGATION *****/
.nav-intelli {
  margin: 0 0 30px;
  background-color: #fff;
}
.nav-intelli > li {
  border-top: 1px solid #eaecf0;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}
.nav-intelli > li > a {
  color: #505b72;
  padding: 12px 14px;
  border-radius: 0;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.nav-intelli > li > a .badge {
  background-color: transparent;
  color: #9fa8bc;
  font-size: 12px;
  text-transform: none;
  padding: 0;
  font-weight: normal;
  margin-top: 3px;
  margin-right: 2px;
}
.nav-intelli > li > a > i {
  width: 30px;
  height:30px;
  border-radius:30px; 
  font-size: 14px;
  text-align: center;
  margin-right: 7px;
  padding-top:7px;
  background:#259dab;
  color: #fff;
  box-shadow:1px 1px 2px 1px rgba(0,0,0,0.3);
  vertical-align: top;
  margin-top: 1.5555px;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.nav-intelli > li > a:hover,
.nav-intelli > li > a:focus {
  color: #262b36;
  background-color: #ffffff;
}
.nav-intelli > li + li {
  margin: 0;
}
.nav-intelli > li:last-child {
  border-bottom: 1px solid #eaecf0;
}
.nav-intelli > li.nav-parent > a {
  position: relative;
}
.nav-intelli > li> a:hover >i
{
color:#000;
box-shadow:1px 1px 3px 3px rgba(0,0,0,0.3);
}
.nav-intelli > li.nav-parent > a:after {
  content: '+';
   font-size: 16px;
  font-weight: 400;
  color: #bdc3d1;
  position: absolute;
  top: 10px;
  right: 15px;
}
.nav-intelli > li.nav-active > ul {
  display: block;
}
.nav-intelli > li.active {
  border-top-color: transparent;
}
.nav-intelli > li.active + li {
  border-top-width: 0;
}
.nav-intelli > li.active > a {
  color: #fff;
  background-color: #259dab;
  background-image: -webkit-linear-gradient(left, #259dab 0%, #2574ab 100%);
  background-image: -o-linear-gradient(left, #259dab 0%, #2574ab 100%);
  background-image: linear-gradient(to right, #259dab 0%, #2574ab 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff259dab', endColorstr='#ff2574ab', GradientType=1);
}
.nav-intelli > li.active > a .badge {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}
.nav-intelli > li.active > a > i {
  color: #fff;
}
.nav-intelli > li.active > a:after {
  color: #fff;
}
.nav-intelli > li.active .children {
  display: block;
  border-top: 0;
  border-bottom: 1px solid #eaecf0;
}
.nav-intelli > li.active .children:before {
  border-top: 7px solid #259dab;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 0;
}

.nav-intelli > li > a > span
{
position:relative;
top:10px;
}


.nav-intelli .children {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
  position: relative;
  border-top: 1px solid #eaecf0;
  background-color: #f6f7f8;
}
.nav-intelli .children > li {
  margin-left: 21px;
  border-left: 1px solid #dbdfe6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  letter-spacing: normal;
  display: block;
  font-size: 12px;
}
.nav-intelli .children > li:first-child {
  padding-top: 7px;
}
.nav-intelli .children > li:last-child {
  padding-bottom: 7px;
}
.nav-intelli .children > li > a {
  display: block;
  font-weight: 400;
  padding: 5px 0 5px 18px;
  color: #657390;
  position: relative;
  height: 28px;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.nav-intelli .children > li > a:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  left: -3px;
  top: 50%;
  background-color: #9fa8bc;
  margin-top: -3px;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.nav-intelli .children > li > a:after {
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #a0a8b9;
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -15px;
  border-radius: 50px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.nav-intelli .children > li > a:hover,
.nav-intelli .children > li > a:focus,
.nav-intelli .children > li > a:active {
  text-decoration: none;
  color: #464f63;
}
.nav-intelli .children > li > a:hover:before,
.nav-intelli .children > li > a:focus:before,
.nav-intelli .children > li > a:active:before {
  background-color: #657390;
}
.nav-intelli .children > li > a:hover:after,
.nav-intelli .children > li > a:focus:after,
.nav-intelli .children > li > a:active:after {
  opacity: 1;
  border-color: #657390;
  width: 11px;
  height: 11px;
  left: -6px;
  margin-top: -6px;
}
/*.nav-intelli .children > li.active > a {
  color: #259dab;
}
.nav-intelli .children > li.active > a:before {
  background-color: #259dab;
}
.nav-intelli .children > li.active > a:after {
  opacity: 1;
  border-color: #259dab;
  width: 11px;
  height: 11px;
  left: -6px;
  margin-top: -6px;
}*/
/***** LEFT NAVIGATION STACKED STYLE VARIANT *****/
.nav-intelli-stacked > li:first-child {
  border-top: 1px solid #eaecf0;
}
.nav-intelli-stacked > li > a {
  padding: 12px 0;
  letter-spacing: .5px;
  color: #464f63;
}
.nav-intelli-stacked > li > a:hover,
.nav-intelli-stacked > li > a:focus {
  color: #262b36;
}
.nav-intelli-stacked > li > a:hover > i,
.nav-intelli-stacked > li > a:focus > i {
  color: #262b36;
}
.nav-intelli-stacked > li.nav-parent > a:after {
  top: 9px;
  right: 5px;
}
.nav-intelli-stacked > li.active {
  border-top-color: #eaecf0;
}
.nav-intelli-stacked > li.active + li {
  border-top-width: 1px;
}
.nav-intelli-stacked > li.active > a,
.nav-intelli-stacked > li.active > a:hover,
.nav-intelli-stacked > li.active > a:focus {
  background-color: transparent;
  background-image: none;
  color: #259dab;
}
.nav-intelli-stacked > li.active > a > i,
.nav-intelli-stacked > li.active > a:hover > i,
.nav-intelli-stacked > li.active > a:focus > i {
  color: #259dab;
}
.nav-intelli-stacked > li.active .children {
  border-bottom: 0;
  border-top: 1px solid #eaecf0;
}
.nav-intelli-stacked > li.active .children:before {
  display: none;
}
.nav-intelli-stacked > li.active.nav-parent > a:after {
  color: #259dab;
}
.nav-intelli-stacked .children {
  background-color: transparent;
}
.nav-intelli-stacked .children > li {
  margin-left: 8px;
  border-left-color: #eaecf0;
}
/***** LEFT NAVIGATION PILL STYLE VARIANT *****/
.nav-intelli-pills > li:last-child {
  border-bottom: 0;
}
.nav-intelli-pills > li > a {
  padding: 10px;
  border-radius: 2px;
}
.nav-intelli-pills > li > a:hover,
.nav-intelli-pills > li > a:focus {
  background-color: #e1e4ea;
}
.nav-intelli-pills > li > a:hover > i,
.nav-intelli-pills > li > a:focus > i {
  color: inherit;
}
.nav-intelli-pills > li + li {
  border-top: 0;
  margin-top: 1px;
}
.nav-intelli-pills > li.nav-parent a:after {
  top: 7px;
  right: 10px;
}
.nav-intelli-pills > li.active .children {
  border-bottom: 0;
}
.nav-intelli-pills > li.active .children:before {
  display: none;
}
.nav-intelli-pills > li .children {
  background-color: transparent;
  border-top: 0;
}
.nav-intelli-pills > li .children > li {
  margin-left: 18px;
  border-left: 0;
}
.nav-intelli-pills > li .children > li:first-child {
  padding-top: 0;
}
.nav-intelli-pills > li .children > li:last-child {
  padding-bottom: 0;
}
.nav-intelli-pills > li .children > li > a:after {
  top: 50%;
}
/***** NAV MAIL *****/
.nav-mail > li > a .badge {
  color: #d9534f;
}
.nav-mail > li > a > i {
  color: #909bb1;
}
.nav-label > li {
  text-transform: none;
}
.nav-label > li > a {
  font-weight: normal;
}
.nav-label > li > a > i.primary {
  color: #2574ab;
}
.nav-label > li > a > i.success {
  color: #259dab;
}
.nav-label > li > a > i.warning {
  color: #e6ad5c;
}
.nav-label > li > a > i.danger {
  color: #d9534f;
}
/***** LEFTPANEL CONTACT *****/
.input-search-contact {
  padding: 0;
  margin-bottom: 20px;
  margin-top: -15px;
}
.input-search-contact input {
  border: 0;
  padding-left: 15px;
  border-bottom: 1px solid #eaecf0;
  border-radius: 0;
  background-color: transparent;
}
.input-search-contact input:focus {
  border-color: #eaecf0;
}
.input-search-contact > .input-group-btn > .btn {
  border: 0;
  border-bottom: 1px solid #eaecf0;
  background-color: transparent;
  border-radius: 0;
  font-size: 14px;
  line-height: 0;
  padding-top: 6px;
  color: #818da7;
}
/***** LEFTPANEL SETTINGS *****/
.list-group-settings > .list-group-item {
  border-color: #eaecf0;
}
.sidebar {
  position: absolute;
  top: 64px;
  bottom: 0;
  padding: 15px;
}
.sidebar.left {
  left: 0;
}
.sidebar.right {
  right: 0;
}
.sidebar.email {
  width: 220px;
  background-color: #fff;
}
.sidebar-title {
  text-transform: uppercase;
  font-size: 11px;
  color: #9fa8bc;
  line-height: normal;
  padding: 12PX 15px;
  font-weight: 500;
  letter-spacing: .5px;
}
.nav-sidebar.nav-justified {
  background-color: #657390;
  margin-bottom: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.nav-sidebar.nav-justified > li > a {
  border-radius: 0;
  background-color: #505b72;
  color: #fff;
  padding: 8px 10px;
  font-size: 14px;
  vertical-align: bottom;
}
.nav-sidebar.nav-justified > li > a:hover,
.nav-sidebar.nav-justified > li > a:focus {
  cursor: pointer;
  background-color: #464f63;
}
.nav-sidebar.nav-justified > li > a i {
  position: relative;
}
.nav-sidebar.nav-justified > li:first-child > a {
  border-left: 0;
}
.nav-sidebar.nav-justified > li + li > a {
  margin-left: 1px;
}
.nav-sidebar.nav-justified > li.unread > a > i:after {
  content: '';
  position: absolute;
  top: -2px;
  right: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #d9534f;
  opacity: .9;
}
.nav-sidebar.nav-justified > .active:first-child > a {
  border-top-left-radius: 0;
}
.nav-sidebar.nav-justified > .active > a,
.nav-sidebar.nav-justified > .active > a:hover,
.nav-sidebar.nav-justified > .active > a:focus {
  background-color: #fff;
  color: #262b36;
}
@media (max-width: 767px) {
  .nav-sidebar.nav-justified {
    display: table;
  }
  .nav-sidebar.nav-justified > li {
    display: table-cell;
  }
  .nav-sidebar.nav-justified > li > a {
    margin: 0;
  }
}
.sidebar-btn-wrapper {
  margin: 0 15px 20px;
}

/***** MAIN PANEL *****/
.mainpanel {
  padding-top: 64px;
}
@media (min-width: 992px) {
  .mainpanel {
    margin-left: 220px;
  }
}
@media (max-width: 991px) {
  .mainpanel {
    position: relative;
  }
}
.breadcrumb-intelli {
  padding: 0;
  background-color: transparent;
  margin-bottom: 20px;
}
.breadcrumb-intelli > li {
  font-size: 12px;
}
.breadcrumb-intelli > li > a {
  color: #545b68;
}
.breadcrumb-intelli > li > a:hover,
.breadcrumb-intelli > li > a:focus {
  color: #3d424c;
}
.breadcrumb-intelli > li + li:before {
  
  color: #818da7;
  margin-right: 5px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	SIGN IN
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.signwrapper {
  /*background-image: url(../images/photos/bg.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
@media (max-width: 767px) {
  .signwrapper {
    background-image: none;
   background-color: rgba(38, 43, 54, 0.9);
  }
}
.signwrapper .input-group > .input-group-addon {
  background-color: #fff;
  border-color: transparent;
  padding-right: 0;
}
.signwrapper .input-group > .input-group-addon > i {
  color: #262b36;
}
.signwrapper .form-control {
  border-color: transparent;
  background-color: #fff;
}
.signwrapper .panel-heading {
  padding-top: 10px;
}
.signwrapper .panel-body {
  padding-bottom: 0;
}
.signwrapper .panel-title {
  text-align: center;
  color: #fff;
  margin-top: 20px;
  text-transform: none;
  font-weight: 200;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .7px;
}
.signwrapper .select2-dropdown {
  z-index: 400;
  border-color: transparent;
}
.signwrapper .select2-container--default .select2-selection--single {
  border-color: transparent;
}
.signwrapper .btn-sign {
  border-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
.signwrapper .btn-sign:hover,
.signwrapper .btn-sign:focus {
  border-color: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}
.sign-overlay {
  background-image: url(../images/dot.png);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
}
@media (max-width: 767px) {
  .sign-overlay {
    display: none;
  }
}
.signpanel {
  background-color: rgba(0, 0, 0, 0.95);
  background-image: -webkit-linear-gradient(left, transparent 0%, #1b1f27 100%);
  background-image: -o-linear-gradient(left, transparent 0%, #1b1f27 100%);
  background-image: linear-gradient(to right, transparent 0%, #1b1f27 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff1b1f27', GradientType=1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  opacity: .75;
}
@media (max-width: 767px) {
  .signpanel {
    background-image: none;
    background-color: #262b36;
    opacity: 1;
  }
}
/***** SIGN IN *****/
.signin {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(38, 43, 54, 0.9);
  padding: 20px;
  z-index: 300;
}
@media (max-width: 767px) {
  .signin {
    top: 20px;
    left: 0;
    transform: none;
    width: 400px;
    position: relative;
    margin: auto;
    padding-top: 0;
  }
}
@media (max-width: 360px) {
  .signin {
    width: 320px;
  }
}
.signin h1 {
  color: #259dab;
  text-align: center;
  margin: 0;
  font-weight: 500;
}
.signin .forgot {
  margin: 10px 0 21px;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.signin .forgot:hover,
.signin .forgot:focus {
  color: #fff;
}
.signin .btn-fb {
  color: rgba(255, 255, 255, 0.8);
}
.signin .btn-fb:hover,
.signin .btn-fb:focus {
  color: rgba(255, 255, 255, 0.5);
}
/***** SIGN UP *****/
.signup {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;
  width: 900px;
}
@media (max-width: 767px) {
  .signup {
    top: 20px;
    left: 0;
    transform: none;
    width: 400px;
    position: relative;
    margin: auto;
    padding-top: 0;
  }
}
@media (max-width: 360px) {
  .signup {
    width: 300px;
  }
}
.signup h1 {
  color: #259dab;
  text-align: center;
  margin: 0;
  font-weight: 500;
}
.signup .panel {
  background-color: rgba(38, 43, 54, 0.9);
  padding: 20px 20px 40px 20px;
}
@media (max-width: 360px) {
  .signup .panel {
    padding: 0;
  }
}
.signup .row > div {
  padding-left: 7px;
  padding-right: 7px;
}
.signup .row > div:first-child {
  padding-left: 10px;
}
.signup .row > div:last-child {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.signup .signtitle {
  color: #259dab;
  font-weight: 200;
  letter-spacing: .5px;
  margin-top: 0;
}
.signup .sign-sidebar {
  padding: 33px 40px 0;
}
@media (max-width: 767px) {
  .signup .sign-sidebar {
    display: none;
  }
}
.signup .sign-sidebar p {
  line-height: 21px;
  font-weight: 200;
  letter-spacing: .5px;
  font-size: 14px;
}
.signup .sign-sidebar h4 {
  margin: 0 0 20px;
  color: #259dab;
}
.signup .sign-sidebar .panel-title {
  text-align: left;
  color: #fff;
}
.signup .sign-sidebar .reason {
  font-weight: 700;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #fff;
}
/***** DASHBOARD *****/
.dash-left .table > thead > tr > th,
.dash-right .table > thead > tr > th,
.dash-left .table > tbody > tr > th,
.dash-right .table > tbody > tr > th,
.dash-left .table > tfoot > tr > th,
.dash-right .table > tfoot > tr > th,
.dash-left .table > thead > tr > td,
.dash-right .table > thead > tr > td,
.dash-left .table > tbody > tr > td,
.dash-right .table > tbody > tr > td,
.dash-left .table > tfoot > tr > td,
.dash-right .table > tfoot > tr > td {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .dash-left,
  .dash-right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .dash-right .col-sm-5 {
    width: 41.6667%;
  }
}
@media (max-width: 640px) {
  .dash-right .col-sm-5 {
    width: 50%;
    float: left;
  }
}
@media (max-width: 560px) {
  .dash-right .col-sm-5 {
    width: auto;
    float: none;
  }
}


.signin-demo {
  position: static;
  transform: none;
  width: auto;
  background-color: #3b4354;
}
.signin-demo .panel-heading {
  padding-top: 10px;
}
.signin-demo .panel-title {
  color: #fff;
  text-align: center;
  margin: 20px 0 0;
  text-transform: none;
  font-weight: 200;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .5px;
}
.signin-demo .input-group-addon {
  border-color: transparent;
  background-color: #fff;
  padding-right: 0;
}
.signin-demo .form-control {
  border-color: transparent;
  background-color: #fff;
}



/***** TEMPLATE BUTTONS *****/
.btn-intelli {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: .5px;
}
.btn-stroke {
  background-color: transparent;
  border-width: 2px;
  padding: 9px 11px;
}

.btn-block {
  display: block;
  width: 100%;
  height:45px;
  margin-bottom:20px;
}
.header
{
background:#fff;
height:100px;
width:100%;
}
.pp
{
width:200px;
}
.pp img
{
width:90%;
margin-left:70px;
margin-top:30px;
}


.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 10px 12px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #262b36;
  text-align: center;
  
}
.input-group-addon.input-sm {
  padding: 5px 8px;
  font-size: 11px;
  border-radius: 2px;
}
.signin .input-group-addon
{
position:relative;
top:28px;
left:330px;

}







/*Inner pages*/

#topbar {
  z-index: 2;
  position: relative;
  height:55px;
  padding: 10px 21px;
  background:#fff;
  border-bottom: 1px solid #e0e0e0;
}

.div-padding
{
    padding-left: 5px;
  padding-right: 5px;
  padding-top: 25px;
}
#topbar:before, #topbar:after {
  content: " ";
  display: table;
}
.dash ul li
{
    float:left;
}

#crumbs {
  margin: 0 -20px;
  height: 40px;
  background: #fff;
 
}
.breadcrumb
{
background:#fff;
}

a.logo {
    font-size: 25px;
    color: #fff;
    font-style: bold;
     
   
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

input[type="text"]
{
width:250px;	
}

input[type="password"]
{
	width:250px;
}

#firmware
{
color:#fff;
position:relative;
top:23px;
}
.modal-body
{
min-height:150px;
}
#center-align
{
margin:0 auto;
}
.fa-bars
{
color:#fff;
}
