

body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
/*Global Style*/




/*General Styles*/
.vv-float-right
{
float:right;
}
.yomer-float-left
{
float:left;
}

.vv-center
{

margin-left:auto;
margin-right:auto;
}
.vv-hide
{
display:none !important;
visibility:hidden !important;
}
.vv-show
{
display:block !important; 
}
.vv-border-less
{
    border:none;
}
.vv-abs-right
{
    position:absolute;
    top:70px;
    right:0px;
}




ul
{
    margin:0;
    padding:0;
}
ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #FF6C60;
    color: #fff;
}
::-moz-selection {
    background: #FF6C60;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

input[type=checkbox], input[type=radio] {
  margin: 6px 5px 0;
  margin-top: 1px \9;
  line-height: normal;
  
}

/*Typography*/

.vv-text-center
{
text-align:center;
}
.vv-text-uppercase
{
vv-transform:uppercase;
}
.vv-text-right
{
vv-align:right;
}
.vv-text-left
{
text-align:left;
}
.vv-text-justify
{
text-align:justify;
}

/*Bootstrap*/
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-weight:100;
}


.input-group-addon i
{
    color:#000;
   
}
#intro {
  width: 100%;
  height:auto;
  min-height:720px;
  background-image: url(../img/home.png);
  background-repeat: repeat;
  background-position: 0 0;
  background-color:#193cbe;
  color: #fff;
}
.write_up .container
{
    padding:100px 0px;
}

.container .column, .container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.bottom_border {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.widths
{
    width:100%;
}

.welcome_font {
  font-size: 48px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  padding-top: 25px;
  padding-bottom: 10px;
  line-height: 100%;
  text-align: center;
}

.Under_title {
  font-size: 20px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  margin-left: 12%;
  width: 75%;
  line-height: 30px;
}
.social_media
{
    padding:7px;
}

.social_media li
{
    padding-right:10px;
    float:left;
    
}
.social_media li a img
{
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
}
.social_media li a img:hover
{
    opacity:0.7;
  
}

.logo
{
    width:140px;
    height:40px;
    float:left;
    background:#000;
}
.white
{
    background:#fff;
}
header .container
{
    padding:10px 0px;
}
.btnblack
{
    width:180px;
    height:60px;
    color:#fff;
    background:#000;
    border:1px solid #fff;
    border-radius:0px;
}
.btnblack:hover
{
    background:#0a2db1;
    color:#fff;
}
.btnblue
{
    width:180px;
    height:60px;
    color:#fff;
    background:#0a2db1;
    border:none;
    border:1px solid #fff;
        border-radius:0px;
}
.btnblue:hover
{
    background:#000;
    color:#fff;
}