﻿
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin</title>
<link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link type="text/css" href="css/theme.css" rel="stylesheet">
<link type="text/css" href="images/icons/css/font-awesome.css" rel="stylesheet">
<link type="text/css" href="css/dashboard.css" rel="stylesheet">
<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
      rel='stylesheet'>

<!-- /navbar -->
<div class="row">
    <!--/.span3-->
    <div class="col-md-12 panel-default">
        <div class="content panel-body">
            <div class="btn-controls">
                <div class="btn-box-row row-fluid">

                    <a href="#" class="btn-box big span6"><img src="img/graph1.jpeg"></i><b>85%</b>
                        <p class="text-muted">
                            Performance </p>
                    </a><a href="#" class="btn-box big span6"><img src="img/graph2.jpeg"></i><b>5</b>
                        <p class="text-muted">
                            Alarms</p>
                    </a>
                </div>

            </div>
        </div>
        <!--/#btn-controls-->

        <!--/.module-->
    </div>
    <!--/.content-->
</div>

<script src="scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="scripts/flot/jquery.flot.js" type="text/javascript"></script>
<script src="scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
<script src="scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="scripts/common.js" type="text/javascript"></script>
