
<script src="js/device.js"></script>
<script>
    $(document).ready(function () {
        //alert('hi');
        displayDevices();
    });
</script>
<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">

            <li class="crumb-icon">
                 <a href="#" onclick="configOpen('dashBoard.html', 'section.ngView')">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">devices</li>
        </ol>
    </div>
</header>
<section class="wrapper">
        <div class='col-md-1'></div>
        <div class='col-md-10'>
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Device List </span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">

                        <table id='listingTable' class='table table-bordered table-striped table-hover'>
                            <thead>
                                <tr>
                                    <!--<th>#</th>                                            -->
                                    <th id="deviceid">Device ID</th>
                                    <th id="imei">IMEI</th>
                                    <th id="devicename">Device Name</th>
                                    <th id="device_type">location</th>
                                    <th id="phno">Contact</th>
                                    <th id="devicepic">Options</th>
                                </tr>
                            </thead>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class='col-md-1'></div>

    <div>
        <div class="modal fade" id="basicModal1" tabindex="-1" role="dialog" aria-labelledby="basicModal1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title new-dev" id="myModalLabel">Edit Device</h4>
                    </div>
                    <div class="modal-body">
                        <input id="deviceId1" type="hidden">
                        <table class='tab   table-hover'>
                            <tr>
                                <td><lable >IMEI</lable></td>
                            <td><input id="imeiId1" class="imei-readonly" value="58985" type="text" onchange='checkDeviceUser("edit")'  maxlength="15" onkeypress="return isNumberKey(event)" readonly></td>
                            </tr>
                            <tr>
                                <td><lable >Device Name :</lable></td>
                            <td><input id="deviceNameId1" value="lattitude" type="text" ></td>
                            </tr>
                            <tr>
                                <td><lable >contact:</lable></td>
                            <td><input id="phoneNoId1" type="text"  value="Lattitude" maxlength="10" onkeypress="return isNumberKey(event)"></td>
                            </tr>

                            <tr>
                                <td><lable >Type:</lable></td>
                            <td>
                                <select id="bloodGroupId1">
                                    <option value="">Select</option>
                                    <option value="O+">personal</option>
                                    <option value="O-" selected>official</option>

                                </select>
                            </td>
                            </tr>

                            <tr id="editDevicePinRowId">
                                <td><lable >phone:</lable></td>
                            <td><input id="pinId1" type="text"  value="9865325689" onkeypress="return isNumberKey(event)"></td>
                            </tr>
                            <!--<tr>-->
                            <!--<td><lable >Picture:</lable></td>-->
                            <!--<td><input id="picId1"type="file" ></td>-->
                            <!--</tr>-->
                        </table>
                        <div class="editDevice-msgbox"></div>
                    </div>
                    <div class="modal-footer">
                        <button id="edit_device_id" type="button" data-dismiss="modal" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
