<header id="topbar">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="crumb-icon">
                <a href="#" onclick="configOpen('dashBoard.html', 'section.ngView')">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">User registration</li>
        </ol>
    </div>
</header>

<div class="container">

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">  Registration Details</a></li>
        <li><a data-toggle="pill" href="#menu1">SIP Account Details</a></li>
        <li><a data-toggle="pill" href="#menu2">Change Password</a></li>

    </ul>
    <div class="container">
        <div class="col-md-4 panel panel-default">
        <div class="tab-content panel-body">
            <div id="home" class="tab-pane fade in active">
               <div class="form-group">
			<label for="exampleInputPassword1">Name</label>
			<input type="text" class="form-control" id="exampleInputPassword1" placeholder="john Smith" />
		</div>
               <form role="form" method="get" action="#">
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="johnsmith@gmail.com" />
		</div>
		
		<div class="form-group">
			<label for="exampleInputEmail1">Phone Number</label>
                        <input type="text" class="form-control" id="phone" placeholder="9998542136" />
		</div>
		<div class="form-group">
                     
                      <button class="btn btn-primary">Save</button>
                      <button class="btn btn-primary">Cancel</button>
		</div>
		
		
               </form>
                
            </div>
            <div id="menu1" class="tab-pane fade">
                <br>
                
                <div>
                    <h5>  You have No Sip Account Add one??</h5><br>
                    <img src="img/add.png">
                    
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <br>
                
                  <div class="form-group">
                      <label for="exampleInputPassword1">Current Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="john Smith" />
		</div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">New Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="john Smith" />
		</div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Confirm New Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="john Smith" />
		</div>
                  <div class="form-group">
                     
                      <button class="btn btn-primary">Save</button>
                      <button class="btn btn-primary">Cancel</button>
		</div>
            </div>

        </div>
    </div>
</div>
