<i class="glyphicon glyphicon-user" height="20" width="10"></i>
<P STYLE="margin-bottom: 0in"><FONT  STYLE="font-size: 10pt"><B>Name : John Smith</B></FONT></P>

<br><br>
<p STYLE="margin-bottom: 0in"><a href="#" onclick="configOpen('editProfile.html', 'section.ngView');closeDiv('#help_content')">Edit profile </a></p>