<header id="topbar">
    <div class="topbar-left">
           <ol class="breadcrumb">
           
            <li class="crumb-icon">
                <a href="#" onclick="configOpen('dashBoard.html', 'section.ngView')">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </li>
            <li class="crumb-trail">Settings</li>
        </ol>
    </div>
</header>
<section class="wrapper">
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Settings</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">

                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <th>
                                   Feauture Name
                                </th>
                                <th>
                                    ON/OFF
                                </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    Wifi 
                                </td>
                                <td>
                                     <label class="switch m-r-20"> 
                                    <input type="checkbox" class='switch-input'  onclick='switch_check();
                                            wifi_enable()' id='ntwk_wifienbl' checked />
                                    <span class="switch-label" data-on="on" data-off="off" ></span>
                                    <span class="switch-handle"></span>
                                </label>

                           
                                </td>
                                </tr>
                            <tr>
                                <td>
                                    Email Notification
                                </td>
                                <td>
                                     <label class="switch m-r-20"> 
                                    <input type="checkbox" class='switch-input'  onclick='switch_check();
                                            wifi_enable()' id='ntwk_wifienbl' checked />
                                    <span class="switch-label" data-on="on" data-off="off" ></span>
                                    <span class="switch-handle"></span>
                                </label>

                           
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    BlueTooth
                                </td>
                                <td>
                                     <label class="switch m-r-20"> 
                                    <input type="checkbox" class='switch-input'  onclick='switch_check();
                                            wifi_enable()' id='ntwk_wifienbl' checked />
                                    <span class="switch-label" data-on="on" data-off="off" ></span>
                                    <span class="switch-handle"></span>
                                </label>

                           
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Talk Back 
                                </td>
                                <td>
                                     <label class="switch m-r-20"> 
                                    <input type="checkbox" class='switch-input'  onclick='switch_check();
                                            wifi_enable()' id='ntwk_wifienbl' checked />
                                    <span class="switch-label" data-on="on" data-off="off" ></span>
                                    <span class="switch-handle"></span>
                                </label>

                           
                                </td>
                            </tr>
                            </tbody>
                            
                        </table>
                       
                               
                        
                    </form>
                </div>
            </div> 
          








        </div>

    </div>
    <div class='col-md-8'></div>
</section>
