
<!-- /navbar -->
<div class="row">
    <!--/.span3-->
    <div class="col-md-12 panel-default">
        <div class="content panel-body">
            <div class="btn-controls">
                <div class="btn-box-row row-fluid">

                    <a href="#" class="btn-box big span6"><img src="<?php print APP_PATH; ?>/img/graph1.jpeg"></i><b>85%</b>
                        <p class="text-muted">
                            Performance </p>
                    </a><a href="#" class="btn-box big span6"><img src="<?php print APP_PATH; ?>/img/graph2.jpeg"></i><b>5</b>
                        <p class="text-muted">
                            Alarms</p>
                    </a>
                </div>

            </div>
        </div>
        <!--/#btn-controls-->

        <!--/.module-->
    </div>
    <!--/.content-->
</div>

