<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="">

    <title>Sparsh</title>

    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => APP_PATH . '/img/favicon.ico'))
        ->appendStylesheet(APP_PATH. '/SparshLanding/css/bootstrap.min.css')
        ->appendStylesheet(APP_PATH . '/SparshLanding/css/style.css')
    ?>
    <!-- Bootstrap core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
     <!--external css for sandbox-->
    <!-- <link href="css/style.css" rel="stylesheet">-->

    <!--[if lt IE 9]>-->
    <?php

    echo $this->headScript()
        ->appendFile(APP_PATH . '/SparshLanding/js/Hack/html5shiv.js', 'text/javascript')
        ->appendFile(APP_PATH . '/SparshLanding/js/Hack/respond.min.js', 'text/javascript');
    ?>

    <!--   <script src="js/Hack/html5shiv.js"></script>
      <script src="js/Hack/respond.min.js"></script>-->
    <script type='text/javascript'>
        document.createElement("header")
        document.createElement("nav")
        document.createElement("aside")
        document.createElement("section")
        document.createElement("article")
    </script>
    <![endif]-->
</head>
<body>

<section id="intro">
    <header class="header white">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="columns">
                        <div class="column">
                            <h2>Sparsh</h2>
                        </div>
                    </div>
                    <div class="pull-right">
                        <ul class="social_media">
                            <li><a href="#"><img src="<?php print APP_PATH; ?>/SparshLanding/img/facebook.png"/></a>
                            <li><a href="#"><img src="<?php print APP_PATH; ?>/SparshLanding/img/google-plus.png"/></a>
                            <li><a href="#"><img src="<?php print APP_PATH; ?>/SparshLanding/img/twitter.png"/></a>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </header>
    <div class="write_up">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="widths columns">
                        <div class="welcome_font">Welcome to SPARSH</div>
                        <div class="Under_title"></div>

                        <div class="vv-text-center">
                            <h3>Your Account is Activated <h3>
                            <h3>Please Login your Account in Application</h3>
                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>


</section>
<!-- js placed at the end of the document so the pages load faster -->

<?php

echo $this->headScript()
    ->appendFile(APP_PATH . '/SparshLanding/js/Library/jquery.js', 'text/javascript')
    ->appendFile(APP_PATH . '/SparshLanding/js/common.js', 'text/javascript');


?>
<!--  <script src="js/Library/jquery.js"></script>
  <script src="js/common.js"></script>-->
</body>
</html>