<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="">

    <title>Sparsh</title>
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => APP_PATH . '/img/Sparsh-Logo3.png'))
        ->appendStylesheet(APP_PATH. '/css/bootstrap.min.css')
        ->appendStylesheet(APP_PATH . '/css/style.css')
        ->appendStylesheet(APP_PATH . '/css/jquery-ui.min.css')
        ->appendStylesheet(APP_PATH. '/lib/bootstrap-switch/css/bootstrap-switch.min.css')
        ->appendStylesheet(APP_PATH . '/js/datatables/css/jquery.dataTables.min.css')
        ->appendStylesheet(APP_PATH . '/js/datatables/css/dataTables.responsive.css')
        ->appendStylesheet(APP_PATH . '/js/datatables/css/dataTables.bootstrap.css')
    ?>
    <script>
    var APP_PATH = "<?php echo APP_PATH ?>";
    </script>
</head>
<body>

<section id="container" >
    <!--header start-->
    <header class="header white">

        <!--logo start-->
        <div id='logo_container' class='vv-text-center'>
            <div class='globe'></div>
            <div class="sidebar-toggle-box">
                <div class="glyphicon glyphicon-th" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--<b> <h2 style="text-align: center;">Sparsh</h2></b>-->
            <a href="#" class="logo"><img src="<?php print APP_PATH; ?>/img/Sparsh-Logo3.png" style="height:48px;width:90px;"/><span></span></a>
           <!-- logo end-->
        </div> <!--logocontainer end-->

        <div class='right_head2'>
            <a href='#'  class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <div class="glyphicon glyphicon-th" data-placement="right" data-original-title="Toggle Navigation"></div></a>

            <ul class="dropdown-menu ulmenu" role="menu" >
                <li><a href='#' onclick="openPage('#help_content', '#contHelp', current_page)"><i class='glyphicon glyphicon-question-sign'></i></a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="#" onclick="configOpen('changepassword.html', 'section.ngView')"><i class='glyphicon glyphicon-lock'></i></a></li>
                <li><a href="login.html"><i class='glyphicon glyphicon-off'></i></a></li>
            </ul>
        </div>

        <div class="nav right_head" id="top_menu">
            <ul class="nav top-menu">
                <!-- settings start -->

                <!--<li >
                    <a  href="#" class='without_border'>
                    John Smith   
                    </a>
                </li>-->

                <li>
                    <a href="#" onfocus="openPage('#help_content', '#contHelp', 'sample.html')">
                        <i class="glyphicon glyphicon-user"></i>

                    </a>
                </li>

                <!--/  <li><a href='#' onclick="openPage('#help_content', '#contHelp', current_page)"><i class='glyphicon glyphicon-question-sign'></i></a></li>-->
                <!--<li><a href="#" onclick="configOpen('changepassword.html', 'section.ngView')"><i class='glyphicon glyphicon-lock'></i></a></li>-->
                <li><a href='<?PHP echo BASE_PATH ?>/user/logout'><i class='glyphicon glyphicon-off'></i></a></li>
            </ul>

        </div>

    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="leftsidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="leftsidebar-menu" id="nav-accordion">
                <li>
                    <a href="<?php print BASE_PATH . '/userhome'; ?>">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                   <a href="<?php print BASE_PATH . '/user/devices'; ?>">
                        <i class="glyphicon glyphicon-folder-close"></i>
                        <span>Device</span>
                    </a>

                </li>
                <li>
                     <a href="#">
                        <i class="glyphicon glyphicon-time"></i>
                        <span>Clock</span>
                    </a>

                </li>


            </ul>
            <!-- leftsidebar menu end-->
        </div>
    </aside>
    <!--leftsidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="ngView">
            <div id="<?php echo $contentCls; ?>" class="col-lg-12">
                <!-- PAGE CONTENT -->
                <?php echo $this->content; ?>
                <!-- /PAGE CONTENT -->
                <!-- HEADER -->
               
                <!--/HEADER -->
            </div><!-- /CONTENT-->

        </section><!--ngview ends here-->
    </section>
    <!--main content end-->


</section>

<div  id='help_content'>
    <div class='help_head'>
        <div class='help_headcontent'>
            <a href="<?php print BASE_PATH . '/user/resetpwd'?>" ><h5>Reset Password</h5></a>
            <span style='position:absolute; right:10px; top:10px;'><a href='#' id='close' onclick='closeDiv("#help_content")'><img src="<?php print APP_PATH; ?>/img/close.png" style="width:20px;height:20px;"/></a></span>
        </div>
    </div>
    <div class='help_contentfile'>
        <div id='contHelp'>
        </div>
    </div>
</div>
<div class="black-back"></div>

<div id="warn-alert" class=" alert alert-error alert-danger alert-block">
    <button  type="button" class="close" onclick='alert_off()'>&times;</button>
    <div class='content-alert' style='padding-top: 20px;'></div>
</div>
<!-- js placed at the end of the document so the pages load faster -->

<?php

echo $this->headScript()
    ->appendFile(APP_PATH . '/js/jquery.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/validation.js')
    ->appendFile(APP_PATH . '/lib/jQuery-validate/jquery.validate.min.js')
    ->appendFile(APP_PATH . '/lib/moment.js/moment.min.js')
    ->appendFile(APP_PATH . '/js/jquery-ui.min.js', 'text/javascript')
    ->appendFile(APP_PATH . '/lib/jQuery-BlockUI/jquery.blockUI.min.js')
    ->appendFile(APP_PATH . '/js/bootstrap.min.js', 'text/javascript')
    ->appendFile(APP_PATH . '/lib/bootstrap-switch/js/bootstrap-switch.min.js')
    ->appendFile(APP_PATH . '/lib/bootbox/bootbox.min.js')
    ->appendFile(APP_PATH . '/js/common-scripts.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/common.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/dashboard.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/datatables/jquery.dataTables.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/datatables/fnReloadAjax.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/datatables/dataTables.bootstrap.js', 'text/javascript')
    ->appendFile(APP_PATH . '/js/datatables/dataTables.responsive.js', 'text/javascript');

?>
<script>
$(function(){
    // Active menu tab
    var url = window.location.href; 
    $("#leftsidebar a").each(function() {
        if(url == (this.href)) { 
            $(this).closest("li a").addClass("active");
        }
    });
});
</script>
</body>
</html>





