<!DOCTYPE html>
<!--
++++++++++++++++++++++++++++++++++++++++++++++++++++++
AUTHOR : GUI TEAM COCHI
PROJECT :IntelliVision
VERSION : 1.1
++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
   
   
    <title>Sparsh</title>
    
    <script>
    var APP_PATH = "<?php echo APP_PATH ?>";
    </script>
  	<!-- [ FONT-AWESOME ICON ] 
        =========================================================================================================================-->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_PATH ?>/SparshLanding/lib/font-awesome-4.3.0/css/font-awesome.min.css">
	
	<!-- [ BOOTSTRAP]
        =========================================================================================================================-->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_PATH ?>/SparshLanding/lib/bootstrap/css/bootstrap.min.css">
	
   <!-- [ MAIN-STYLE ]
        =========================================================================================================================-->
    <link rel="stylesheet" href="<?php echo APP_PATH ?>/SparshLanding/lib/jquery-ui/jquery-ui.css">  
	<link rel="stylesheet" href="<?php echo APP_PATH ?>/SparshLanding/css/style1.css">  
	
        
  	<!-- [ FONT-AWESOME ICON ] 
        =========================================================================================================================-->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_PATH ?>/SparshLanding/lib/font-awesome-4.3.0/css/font-awesome.min.css">
	
	<!-- [ BOOTSTRAP]
        =========================================================================================================================-->
	<link rel="stylesheet" type="text/css" href="<?php echo APP_PATH ?>/SparshLanding/lib/bootstrap/css/bootstrap.min.css">
	
   <!-- [ MAIN-STYLE ]
        =========================================================================================================================-->
    <link rel="stylesheet" href="<?php echo APP_PATH ?>/SparshLanding/lib/jquery-ui/jquery-ui.css">  
	<link rel="stylesheet" href="<?php echo APP_PATH ?>/SparshLanding/css/style1.css">  
	
	
        
	<script src='<?php echo APP_PATH ?>/SparshLanding/lib/jquery/jquery.js'></script>
	<script src="<?php echo APP_PATH ?>/SparshLanding/lib/jquery-ui/jquery-ui.js"></script>
	<script src="<?php echo APP_PATH ?>/SparshLanding/lib/bootstrap/js/bootstrap.js"></script>
	<script src='<?php echo APP_PATH ?>/SparshLanding/lib/jquery/jquery.base64.js' ></script>
	<script src="<?php echo APP_PATH ?>/SparshLanding/js/common1.js"></script>  
	<script>
	
	
		$(document).ready(function()
		{
			'use strict';

			showHdideMenu("#menuToggle");
			ToggleLeftMenu(); 
            changeMenuColor();
		   $('.nav-due > li').hover(function(){
			  $(this).addClass('nav-hover');
		   }, function(){
			  $(this).removeClass('nav-hover');
		   });
		 
		   $('#noticeDropdown').on('click', '.nav-tabs a', function(){
			 
			 $(this).closest('.btn-group').addClass('dontClose');
		   })

		   $('#noticePanel').on('hide.bs.dropdown', function(e) {
			 if ( $(this).hasClass('dontClose') ){
			   e.preventDefault();
			 }
			 $(this).removeClass('dontClose');
		   });

		  
		   $('.panel-remove').click(function() {
			 $(this).closest('.panel').fadeOut(function() {
			   $(this).remove();
			 });
		   });
		   
		   $('.panel-minimize').click(function() {
				var parent = $(this).closest('.panel');

				parent.find('.panel-body').slideToggle(function() {
				   var panelHeading = parent.find('.panel-heading');

				   if(panelHeading.hasClass('min')) {
					 panelHeading.removeClass('min');
				   } else {
					 panelHeading.addClass('min');
				   }

				 });
		   });

			//$("div.leftpanel").niceScroll({styler:"fb",cursorcolor:"#16aad8", cursorwidth: '2', cursorborderradius: '5px', background: '#16aad8', spacebarenabled:false, cursorborder: ''});
		
		
		
		});
	</script>
  <style type="text/css">
	#header
	{
		background-image:url('/sparshapp/SparshLanding/img/logo1.jpg');
		background-color:#000000;
		background-repeat:no-repeat;
		height:117px;
	}
	#header_border
	{
		background-color:#F1783F;
		height:25px;
	}
	
  
   
    </style>
  
  
  
  
  
</head>

<body>
  <!-- [ HEADER ] 
        =========================================================================================================================-->
	<header>
	  <div id="header">
<!--		<a href="#" class=""><img src="<?php print APP_PATH; ?>/img/logo1.jpg" /><span></span></a>-->
	  </div><!-- header-->
	  <div id='header_border'>&nbsp;</div>
	</header>
 <!-- [ /HEADER ] 
        =========================================================================================================================-->
 <!-- [ CONTENT AND LEFT MENU ] 
        =========================================================================================================================-->
<section>

	<div class="leftpanel" style="position:relative;top:0px;min-height: 501px" >
		<div class="leftpanelinner"> 
			<div class="tab-content">
			<!-- ################# MAIN MENU ################### -->

				<div class="tab-pane active" id="mainmenu">
				  <!--<ul class="nav nav-pills nav-stacked nav-intelli">
					<li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
					<li><a href="#"><i class="fa fa-cube"></i> <span>Maintenance</span></a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> <span>Cloud Configuration</span></a></li>
				  </ul>

				  <h5 class="sidebar-title">Networking</h5>-->
				  <ul class="nav nav-pills nav-stacked nav-intelli">
					
					
									  
					<li class="nav-parent">
					  <a href="<?php print BASE_PATH . '/user/getprofile'; ?>"> <i class="fa fa-connectdevelop"></i> <span>Profile</span></a>
						
					</li>
					<li class="nav-parent"><a href="#"  ><i class="fa fa-video-camera"></i> <span>Device</span></a>
						
					</li>
					
				  </ul>
				</div><!-- tab-pane -->
			</div><!-- tab-content -->
		</div><!-- leftpanelinner -->
	</div><!-- leftpanel -->

	<div class="mainpanel">
	
		<!--<header id="topbar">
			<div class="topbar-left">
				<ol class="breadcrumb">
				
				</ol>
			</div>
		</header>-->
	<div class="gap"></div>
	
		<section class="wrapper" >
			<div class='row'>
			
				<div class='col-md-12'>
					<div class="panel panel-default">
						<div class="panel-body" style="height:auto;width:auto;padding:40px;padding-bottom:60px;background:#d8dce3;">
						   <div class="row">
							<div class="col-md-2">
						
							</div>
							</div>
							
							
							
						</div>
					</div> 
				</div>
				
			</div>
		</section>
   
   
   

  </div><!-- mainpanel -->

</section>
 <!-- =========================================================================================================================-->



</body>
</html>
