
<?php
$path = $_SERVER['HTTP_REFERER'];
$action = $this->layout()->getVariable('action');
if (strpos($path, "resetpassword") !== false && ($action !== "resetpassword")) {
    $resetPwdMsg = "Your Password has been changed successfully!";
}
if (strpos($path, "login") !== false && ($action == "resetpassword")){
    $resetPwdMsg = "You have successfully logged in using One Time Password.Please reset your password.";
}
?>
<?php echo $this->doctype(); ?>


<!DOCTYPE html>
<html lang="en">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

	<?php echo $this->headTitle(); ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>


	<?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'href' => APP_PATH . '/img/logo-dark.png'))
                ->appendStylesheet(APP_PATH. '/css/bootstrap.min.css')
 		    ->appendStylesheet(APP_PATH . '/css/style.css')
            ->appendStylesheet(APP_PATH . '/SparshLanding/css/style.css')
        ?>
    <!-- Bootstrap core CSS
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!--external css-->

    <!-- styles for sandbox
    <link href="css/style.css" rel="stylesheet">-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

  <body class="login-body">

  <!--<header class="header white">
      <div class="container">
          <div class="row">

              <div class="col-md-12">
                  <div class="columns">
                      <div class="column">
                          <a href="<?php /*print BASE_PATH;*/?>"> <img src="<?php /*print APP_PATH; */?>/SparshLanding/img/logo-dark.png" alt="logo"/> </a>
                      </div>
                  </div>
                  <div class="pull-right">
                      <ul class="social_media">
                          <li><a href="#"><img src="<?php /*print APP_PATH; */?>/SparshLanding/img/facebook.png"/></a>
                          <li><a href="#"><img src="<?php /*print APP_PATH; */?>/SparshLanding/img/google-plus.png"/></a>
                          <li><a href="#"><img src="<?php /*print APP_PATH; */?>/SparshLanding/img/twitter.png"/></a>
                      </ul>
                  </div>

              </div>

          </div>
      </div>
  </header>
-->

  <div class="container">
	<?php
         if (!empty($errorMessages)) {
           ?>
            <div class='alert alert-danger'>
		    <div>
		    <?php echo $errorMessages[0] ?>
		    </div>
            </div>
          <?php
             }
           ?>
       <?php echo $this->content; ?>

    </div>

 <!-- JAVASCRIPTS -->
            <!-- Placed at the end of the document so the pages load faster -->
            <!-- Scripts -->
            <?php
            echo $this->headScript()
                    ->appendFile(APP_PATH . '/lib/jquery/jquery-2.0.3.min.js')
                    ->appendFile(APP_PATH . '/js/validation.js')
                    ->appendFile(APP_PATH . '/lib/jQuery-validate/jquery.validate.min.js');

            ?>
            <!-- /JAVASCRIPTS -->

  </body>


</html>
